@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* body { @apply bg-primary-900; } */

html, body { @apply h-full overflow-hidden; }

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}